@font-face {
    font-family: all-ages;
    src: url('../fonts/all-ages/AllAgesDEMO.ttf');
}

html, body {
  /*font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;*/
  font-family: Calibri;
  font-
  font-weight: normal;
  color: #FFAA00;
  position: relative;
  background-color: black;
  background-image: url('../images/black-bg-1.jpg');
  -webkit-text-size-adjust: none;
}

.top h1 {
    font-family: all-ages;
    font-size: 48pt;
    font-weight: normal;
    margin-left: 15%;
    white-space: nowrap;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 850px
}

.toolbar {
    
}

.toolbar-item {
    background: #F1D14F;
    color: black;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    -webkit-border-top-left-radius: .5em;
    -webkit-border-top-right-radius: .5em;
    border: 2px solid;
    border-color: #FFA300;
}

.main-panel {
    background: #FFAA00;
    color: black;
    border: 2px solid;
    border-color: #FF8800;
    min-height: 500px;
    -webkit-border-top-right-radius: .5em;
    margin-top: 3px;
}

.inner-panel {

}

.panel-1-left {
    display: inline-block;
    width: 170px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 170px;
    padding: 15px;
    background: #F1D14F;
    -webkit-box-shadow: 2px 2px 4px #777;
}

.list-label {
    font-weight: bold;
}

.pic-container {
    background-image: url(../images/boss.jpg);
    background-color: black;
    width: 146px;
    height: 159px;
    /*border: solid 1px;*/
    /*-webkit-border-radius: .7em;*/

}

.small-header {
    font-weight: bold;
    margin-bottom: 15px;
}

#specification-header {
    margin-top: 10px;
}

.panel-1-right {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 20px;
    width: 560px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #F1D14F;
    -webkit-box-shadow: 2px 2px 4px #777;
}

.panel-2, .center-small-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}